body {
  width: 100vw;
  overflow-x: hidden;
}

  
  .design-projects {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12vw;
    line-height: 25px;
    letter-spacing: -2px;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    
  }
  
  .design-projects::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background: #016b6b;
    position: absolute;
    left: 40%;
  }
  
  .design {
    color: #6fccdd;
  }
  
  .design::after {
    content: 'Work';
    color: #016b6b;
    margin-top: 5%;
    left: 2rem;
    font-weight: 700;
    font-style: normal;
    font-size: 12vw;
    position:absolute;
    z-index: -2;
  }

  .design-work-card {
    margin-bottom: 10%;
  }

  .card {
    border: none;
    margin-bottom: 2rem;
    border-radius: 10px !important;

    margin-left: 30%;
  }

  .art-card {
    display: flex;
    flex-direction: column;
    
  }
  
  .art-head {
    font-family: neuzeit-grotesk, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 7vw;
     margin: 3rem 0 1rem 1rem;
  }

  .artwork {
    background-color: #016b6b;
    color: white;
    font-family: neuzeit-grotesk, sans-serif;
    font-size: 22px;
    width: 75% !important;
  }

  .art-card-body {
    justify-content: center;
    text-align: center;
  }

  .logobrand {
  
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .logobrand {
    margin-top: 5%;
    justify-content: center;
  }

  .logobrand > h2 {
    font-family: neuzeit-grotesk, sans-serif;
          font-weight:bold;
          font-style: normal;
          font-size: 14px;
          color:#016b6b;
  }

  .logobrand > p {
    font-family: neuzeit-grotesk, sans-serif;
          font-weight:lighter;
          font-style: normal;
          font-size: 10px;
  }

  .FortyWatt {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .card > img {
    filter: drop-shadow(0 0 0.5rem rgb(136, 136, 136));
  }

  

  @media screen and (min-width: 767px) {
    body {
      width: 100vw;
      overflow-x: hidden;
    }
    
      .art-card {
      
      }

      .art-card-title {
        font-family: neuzeit-grotesk, sans-serif;
          font-weight:lighter;
          font-style: normal;
          font-size: 40px;
          margin: 5% 0 5% 0;
      }
      
      .art-head {
        font-family: neuzeit-grotesk, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 3vw;
         margin: 3rem 0 1rem 1rem;
      }

      .categories {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 10% 0 10% 0;
      }
  
}


  @media screen and (min-width: 992px) {
    body {
      width: 100vw;
      overflow-x: hidden;
    }
    
      .card {
        border: none;
        margin-bottom: 2rem;
        border-radius: 10px !important;
        
      }

      .art-card-title {
        font-family: neuzeit-grotesk, sans-serif;
          font-weight:lighter;
          font-style: normal;
          font-size: 30px;
          margin: 5% 0 5% 0;
      }
      
      .art-head {
        font-family: neuzeit-grotesk, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 3vw;
         margin: 3rem 0 1rem 1rem;
      }


      .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10% 0 10% 0;
      }

      .FortyWatt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .logobrand {
        justify-content: space-between;
      }

      .logobrand > h2 {
        font-family: neuzeit-grotesk, sans-serif;
              font-weight:bold;
              font-style: normal;
              font-size: 40px;
      }
    
      .logobrand > p {
        font-family: neuzeit-grotesk, sans-serif;
              font-weight:lighter;
              font-style: normal;
              font-size: 20px;
              margin-bottom: 5%;
      }

      /* .alyia-card-img-top {
        height: 300px;
      } */

      .billboard {
        width: 100%;
        height: auto;
      }
  
}
