
#under {
    color: rgb(185, 10, 10);
    
  }

  #construction {
    color: rgb(105, 16, 16);
    
  }

.head {

    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    line-height: 20px;
    margin-top: 70px;

}

#check {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    line-height: 20px;
    text-align: right;
}

#very {
    color: rgb(105, 16, 16);
}