
  .bg-image {
    background-image: url(../images/phone.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 50vh;
    width: auto;
    position: relative;
    z-index: -1;
  }

  
  h1 {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 75px;
    margin: 0 auto;
  }
  
  /* CONTACT */
  
  .form {
    position: absolute;
    z-index: 1;
    width: 65%;
    height: auto;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
  }

  button {
    width: 60px;
  }
  
  .form-group {
    box-shadow: 0 0.2rem 1rem rgb(117, 116, 116);
  }
  
  button[type="submit"] {
    background-color: #016b6b;
    
  }
  
  button[type="submit"]:hover {
    background-color: #00ffff;
  }
  

@media (min-width: 480px) {
  .bg-image {
    background-image: url(../images/phone.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 50vh;
    width: auto;
    position: relative;
    z-index: -1;
  }

  
  h1 {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 75px;
    margin: 0 auto;
  }
  
  /* CONTACT */
  
  .form {
    position: absolute;
    z-index: 1;
    width: 65%;
    height: auto;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
  }

  button {
    width: 60px;
  }
  
  .form-group {
    box-shadow: 0 0.2rem 1rem rgb(117, 116, 116);
  }
  
  button[type="submit"] {
    background-color: #016b6b;
    
  }
  
  button[type="submit"]:hover {
    background-color: #00ffff;
  }


@media (min-width: 769px) {
  .bg-image {
    background-image: url(../images/phone.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 85vh;
    width: auto;
    position: relative;
    z-index: -1;
  }
  
  h1 {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 75px;
    margin: 0 auto;
  }
  
  /* CONTACT */
  
  .form {
    position: absolute;
    z-index: 1;
    width: 55%;
    height: auto;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
  }

  button {
    width: 60px;
  }
  
  .form-group {
    box-shadow: 0 0.2rem 1rem rgb(117, 116, 116);
  }
  
  button[type="submit"] {
    background-color: #016b6b;
    
  }
  
  button[type="submit"]:hover {
    background-color: #00ffff;
  }


/* When the screen width is less than 990px,
the menu options will center align */
@media (min-width: 1000px) {
  .bg-image {
    background-image: url(../images/phone.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    left: 10%;
    height: 75vh;
    width: auto;
    position: relative;
    z-index: -1;
  }
 
  
  h1 {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 75px;
    margin: 0 auto;
  }
  
  /* CONTACT */
  
  .form {
    position: absolute;
    z-index: 1;
    width: 35%;
    height: auto;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
  }
  
  .form-group {
    box-shadow: 0 0.2rem 1rem rgb(117, 116, 116);
  }
  
  button[type="submit"] {
    background-color: #016b6b;
  }
  
  button[type="submit"]:hover {
    background-color: #00ffff;
  }
  
  