

.navbar {
    margin-bottom: 50px;
  }

  .navbar-custom {
    background-color: rgb(225, 248, 252);
  }

  .navbar-custom .nav-link {
    color: rgb(185, 10, 10) !important;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }

  .resume-link {
    margin-right: 40px;
  }

  .navbar-custom .s-initial {
    height: 40px;
    width: auto;
    margin: 20px 0 0 30px;
  }

  .navbar-custom .nav-link a:hover {
    color: rgb(105, 16, 16);
  }

/* Projects */

#web {
    color: rgb(185, 10, 10);
  }

  #projects {
    color: rgb(105, 16, 16);
    
  }

.head {

    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    line-height: 20px;
    margin-bottom: 40px;

}

h3 {
    align-items: center;
}

#apps {
    text-align: center;
    margin: 2rem 0 4rem 0;
    display: flex;
  justify-content: center;
  align-items: center;
}

#vax, #any-weather, #nalej, #watt {
    margin: 20px;
    box-shadow: 0 0.2rem 1rem rgb(117, 116, 116);
}

#octocat {
    margin: 15px 0 50px 0;
  align-items: left;
}

hr {
    border: none;
    border-radius: 20px;
    height: 5px;
    /* Set the hr color */
    color: rgb(109, 17, 17); /* old IE */
    background-color: rgb(116, 12, 12); /* Modern Browsers */
}

#project-title {
    margin-top: 40px;
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 3vw;
    width: 50%;
    line-height: 2.5rem;
    text-align: right;
}

#projectDesc {
    margin-top: 40px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    float: left;
    line-height: 1.5rem;
    text-align: left;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  i {
    color: black;
    font-size: 30px;
    margin: 40px 10px 0 0;
  }

  i:hover {
    color: darkgrey;
  }