*{
    margin: 0;
    padding: 0;
}

.resume {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: auto;
    margin-bottom: 100px;
}

  .resume-link {
    margin-right: 40px;
  }

