
  /* NAV BAR */
  .navbar-custom {
    background-color: rgb(225, 248, 252);
  }
  
  .navbar-custom .nav-link {
    color: #6fccdd !important;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    margin-bottom: -25px;
  }
  
  
  .navbar-custom .s-initial {
    height: 65px;
    width: auto;
    
  }
  
  .navbar-custom .nav-link a:hover {
    color: #016b6b;
  }

  /* Container */

  /* About Me Section */

  #intro {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5rem;
    margin-top: 22rem;
    margin-left: 30px;
  }

  /* Images */

  .greeting {
    top: -22rem;
    margin-left: 30px;
  }

  #portrait {
    border-radius: 50%;
    height: 14rem;
    width: auto;
    float: right;
    position: absolute;
  }

  #hi {
    height: 8rem;
    width: auto;
    float: right;
    position: absolute;
    top: 8rem;
    left: 10rem;
  }

  #my-name {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 10px;
    letter-spacing: -2px;
    margin-top: 3rem;
  }

  .sarah {
    color: #6fccdd;
  }

  .sarah::after {
    content: "DeMERCURIO";
    color: #016b6b;
    top: 4.5rem;
    left: 30px;
    font-weight: 700;
    font-size: 60px;
    position: absolute;
    z-index: -2;
  }

  .web-projects {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8vw;
    line-height: 25px;
    letter-spacing: -2px;
    margin-bottom: 20px;
    position: relative;
  }

  .web-projects::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background: #016b6b;
    position: absolute;
    left: 40%;
  }

  .web {
    color: #6fccdd;
  }

  .web::after {
    content: "PROJECTS";
    color: #016b6b;
    top: 15px;
    left: 30px;
    font-weight: 700;
    font-style: normal;
    font-style: normal;
    font-style: normal;
    font-size: 8vw;
    position: absolute;
    z-index: -2;
  }

  #sectionOne {
    height: 100vh;
    width: 100vw;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .bigS {
    margin-left: 5rem;
    margin-top: 4rem;
    height: auto;
    width: 50%;

  }

  #favoriteThings {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 4vw;
    text-align: center;
    margin: 60px 0 20px 0;
  }

  .faves {
    display: inline-block;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
  }

  /* FOOTER */
  .footer {
    bottom: 0;
    width: 100%;
    height: 2rem;
    margin-bottom: 40px;
  }

  i {
    color: black;
    font-size: 30px;
    margin: 20px 10px 0 0;
  }

  i:hover {
    color: darkgrey;
  }



@media screen and (min-width: 768px) {
  /* NAV BAR */

  .navbar {
    margin-bottom: 50px;
    overflow: auto;
  }
  
  .navbar-custom {
    background-color: rgb(225, 248, 252);
  }
  
  .navbar-custom .nav-link {
    color: #6fccdd !important;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
  }
  
  .navbar-custom .s-initial {
    height: 75px;
    width: auto;
    margin: 0 0 0 60px;
  }
  
  .navbar-custom .nav-link a:hover {
    color: #016b6b;
  }

  /* Container */

  /* About Me Section */

  #intro {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3vw;
    width: 30%;
    float: left;
    padding-right: 6rem;
    line-height: 2.5rem;
    
  }

  /* Images */

  #intro-image {
  }

  .greeting {
    left: 18rem;
    width: 30%;
    height: auto;
  }

  #portrait {
    border-radius: 50%;
    height: 16rem;
    width: auto;
    float: right;
    position: absolute;
  }

  #hi {
    height: 10rem;
    width: auto;
    float: right;
    position: absolute;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  #my-name {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 90px;
    line-height: 25px;
    letter-spacing: -2px;
  }

  .sarah {
    color: #6fccdd;
  }

  .sarah::after {
    content: "DeMERCURIO";
    color: #016b6b;
    top: 6rem;
    left: 30px;

    font-weight: 700;

    font-style: normal;
    font-style: normal;
    font-style: normal;
    font-size: 90px;
    position: absolute;
    z-index: -2;
  }

  .web-projects {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    line-height: 25px;
    letter-spacing: -2px;
    margin-bottom: 70px;
    position: relative;
  }

  .web-projects::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background: #016b6b;
    position: absolute;
    left: 30%;
  }

  .web {
    color: #6fccdd;
  }

  .web::after {
    content: "PROJECTS";
    color: #016b6b;
    top: 30px;
    left: 30px;
    font-weight: 700;
    font-style: normal;
    font-style: normal;
    font-style: normal;
    font-size: 5vw;
    position: absolute;
    z-index: -2;
  }

  #sectionOne {
    height: 70vh;
    width: 100vw;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .bigS {
    height: 60%;
    width: auto;
    margin-left: 30px;
  }

  #favoriteThings {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 3vw;
  }

  .faves {
    display: inline-block;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.65vw;
    text-align: left;
  }

  /* FOOTER */
  .footer {
    bottom: 0;
    width: 100%;
    height: 2rem;
    margin-bottom: 40px;
  }

  i {
    color: black;
    font-size: 30px;
    margin: 20px 10px 0 0;
  }

  i:hover {
    color: darkgrey;
  }
}


@media screen and (min-width: 1000px) {
  /* NAV BAR */

  .navbar {
    margin-bottom: 50px;
  }

  .navbar-custom {
    background-color: rgb(225, 248, 252);
  }

  .navbar-custom .nav-link {
    color: #6fccdd !important;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
  }

  .resume-link {
    margin-right: 40px;
  }

  .navbar-custom .s-initial {
    height: 75px;
    width: auto;
    margin: 20px 0 0 60px;
  }

  .navbar-custom .nav-link a:hover {
    color: #016b6b;
  }

  /* Container */

  /* About Me Section */

  #intro {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    width: 50%;
    float: left;
    padding-right: 6rem;
    line-height: 2.5rem;
    margin-top: 15%;
  }

  /* Images */

  #portrait {
    border-radius: 50%;
    height: 28rem;
    width: auto;
    float: right;
    position: absolute;
    top: 5rem;
    left: 15rem;
  }

  #hi {
    height: 12rem;
    width: auto;
    float: right;
    position: absolute;
    top: 19rem;
    left: 30rem;
  }

  #my-name {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8vw;
    line-height: 25px;
    letter-spacing: -2px;
  }

  .sarah {
    color: #6fccdd;
  }

  .sarah::after {
    content: "DeMERCURIO";
    color: #016b6b;
    top: 7rem;
    left: 30px;

    font-weight: 700;

    font-style: normal;
    font-style: normal;
    font-style: normal;
    font-size: 8vw;
    position: absolute;
    z-index: -2;
  }

  .web-projects {
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    line-height: 25px;
    letter-spacing: -2px;
    margin-bottom: 70px;
    position: relative;
  }

  .web-projects::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background: #016b6b;
    position: absolute;
    left: 30%;
  }

  .web {
    color: #6fccdd;
  }

  .web::after {
    content: "PROJECTS";
    color: #016b6b;
    top: 30px;
    left: 30px;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    position: absolute;
    z-index: -2;
  }

  #sectionOne {
    height: 70vh;
    width: 100vw;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .bigS {
    height: 60%;
    width: auto;
    margin-left: 12rem;
  }

  #favoriteThings {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 3vw;
    text-align: left;
  }

  .faves {
    display: inline-block;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.65vw;
    text-align: left;
  }

  /* FOOTER */
  .footer {
    bottom: 0;
    width: 100%;
    height: 2rem;
    margin-bottom: 40px;
  }

  i {
    color: black;
    font-size: 30px;
    margin: 20px 10px 0 0;
  }

  i:hover {
    color: darkgrey;
  }
}
