*{
    margin: 0;
    padding: 0;
}

body {
    background-color: darksalmon;
}

/* NAV BAR */

.navbar-custom {
    background-color: rgb(225, 248, 252);
}

.navbar-custom .nav-link {
    color: rgb(78, 78, 78);
}

.contact {
    margin-right: 40px;
}

.navbar-custom .my-name {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color:  rgb(78, 78, 78);
    margin-left: 30px;
}

.navbar-custom a:hover {
    color: rgb(133, 131, 131);
}

/* HEADER */


/* Columns */

.about-me {
    margin-top: 40px;
}

/* IMAGES */

.img-fluid {
    margin-top: 50px;
}

/* TEXT STYLES */

p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.bold-text {
    font-family: 'Castoro', serif;
    font-size: 40px;
    font-weight: 200;
}

h1 {
    font-family: 'Castoro', serif;
    font-size: 40px;
    font-weight: 200;
}


/* CONTACT */

.side-content {
    margin: 40px 0 10px 20px;
    min-height: 150px;
    text-align: center;
    font-size: large;
}

.side-content .contact {
    font-family: 'Castoro', serif;
    font-size: 40px;
    font-weight: 200;
}


/* FOOTER */

i {
    color: black;
    font-size: 30px;
    margin: 40px 10px 0 0;
}

i:hover {
    color: darkgrey;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
}
